* {
  font-family: FiraCode Nerd Font Mono;
  font-size: 12px;
  min-height: 0;
}

button {
  border: none;
  border-radius: 0;
}

button:hover {
  box-shadow: inherit;
  text-shadow: inherit;
  background: inherit;
}

#waybar {
  background-color: transparent;
  transition-property: background-color;
  transition-duration: 0.5s;
}

#workspaces {
  margin-top: 8px;
}

#window,
#clock,
#tray,
#memory,
#pulseaudio,
#temperature,
#disk,
#battery {
  margin-right: 4px;
  margin-left: 4px;
  margin-top: 8px;
  padding: 8px;
  padding-left: 16px;
  padding-right: 16px;
  background: linear-gradient(#2a273f, #2a273f) padding-box,
              linear-gradient(45deg, #eb6f92, #f6c177, #9ccfd8) border-box;
  border-radius: 8px;
  border: 2px solid transparent;
  color: #e0def4;
}

#workspaces button {
  margin-right: 8px;
  border-radius: 8px;
  background-color: #2a273f;
  border: 2px solid #393552;
  color: #6e6a86;
}

#workspaces button:first-child {
  margin-left: 12px;
}

#workspaces button.active {
  background: linear-gradient(45deg, #eb6f92, #f6c177, #9ccfd8);
  color: #232136;
  border: 2px solid transparent;
  opacity: 1;
}

#workspaces button.focused {
  background: rgba(0, 0, 0, 0.2);
  color: #c4a7e7;
}

#workspaces button.urgent {
  background-color: #eb6f92;
}

#workspaces button:hover {
  background: linear-gradient(45deg, #eb6f92, #f6c177, #9ccfd8);
  color: #232136;
}

#window {
  background: linear-gradient(#2a273f, #2a273f) padding-box,
              linear-gradient(45deg, #f6c177, #ea9a97) border-box;
  border: 2px solid transparent;
  color: #f6c177;
}

#tray {
  margin-right: 8px;
}
