* {
  font-family: FiraCode Nerd Font Mono;
  font-size: 12px;
  min-height: 0;
}

button {
  border: none;
  border-radius: 0;
}

button:hover {
  box-shadow: inherit;
  text-shadow: inherit;
  background: inherit;
}

window#waybar {
  background-color: transparent;
  transition-property: background-color;
  transition-duration: 0.5s;
}

#workspaces {
  margin-top: 8px;
}

#window,
#clock,
#tray,
#memory,
#pulseaudio,
#temperature,
#disk,
#battery {
  margin-right: 4px;
  margin-left: 4px;
  margin-top: 8px;
  padding: 8px;
  padding-left: 16px;
  padding-right: 16px;
  background-color: #2a283e;
  border-radius: 8px;
  color: #ebbcba;
  border: 2px solid #c4a7e7;
}

#workspaces button {
  margin-right: 8px;
  border-radius: 8px;
  background-color: #2a283e;
  border: 2px solid #44415a;
  color: #56526e;
}

#workspaces button:first-child {
  margin-left: 12px;
}

#workspaces button.active {
  background-color: #31748f;
  color: #f4ede8;
  border: 2px solid #286983;
  opacity: 1;
}

#workspaces button.focused {
  background: rgba(0, 0, 0, 0.2);
  color: #9730fd;
}

#workspaces button.focused + button {
  border-left: none;
}

#workspaces button.focused:first-child {
  border-left: none;
}

#workspaces button.focused:last-child {
  border-right: none;
}

#workspaces button.urgent {
  background-color: #eb6f92;
}

#workspaces button:hover {
  background: #56949f;
}

#window {
  border: 2px solid #f6c177;
  color: #ea9d34;
}

#tray {
  margin-right: 8px;
}
