---
- name: Install packages
  pacman:
    name: [
      base-devel,
      git,
      zsh,
      curl,
      wget,
      unzip,
      ca-certificates,
      gnupg,
      htop,
      tree,
      jq,
      ripgrep,
      glow,
      fd,
      bat,
      fzf,
      dunst,
      feh,
      pavucontrol,
      flameshot,
      pass,
      alacritty,
      kitty,
      ghostty,
      go,
      gnome-keyring,
      stow,
      arandr,
      brightnessctl,
      wireplumber,
      waybar,
      hyprland,
      hyprpaper,
      greetd,
      i3blocks,
      i3-wm,
      i3status,
      wofi,
      rofi,
      lynx,
      swww,
      docker,
      docker-compose
    ]
    state: present
  tags: [system, update, essentials]

- name: Clone yay from AUR
  git:
    repo: "https://aur.archlinux.org/yay.git"
    dest: "/tmp/yay"
    update: yes
  tags: [yay]
  ignore_errors: yes

- name: Build and install yay
  shell: |
    cd /tmp/yay
    makepkg -si --noconfirm
  args:
    chdir: "/tmp/yay"
    creates: /usr/bin/yay
  ignore_errors: yes

- name: Install File manager
  pacman:
    name: [
      ranger,
      dolphin
  ]
  tags: [filemanager]

- name: Install pdf utils
  pacman:
    name: [
      evince
  ]
  tags: [pdf]

- name: Add current user to docker group
  user:
    name: "{{ ansible_user_id }}"
    groups: docker
    append: yes
  tags: [docker]
